<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <connectionStrings>
    
    <!-- Connection to local database -->
    <add name="DataContext" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Database=DataContext;Integrated Security=true" />
    
    
    <!-- To configure remote connections on the database engine read : http://blogs.msdn.com/b/sqlexpress/archive/2005/05/05/415084.aspx -->

    <!-- Connection to remote database -->
    <add name="RemoteDataContext" providerName="System.Data.SqlClient" connectionString="Data Source=RMS-DEV\SQLEXPRESS;Database=RestaurantDatabase;Integrated Security=False; User ID=Administrator; Password=Password00" />
  
  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
