body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: Arial;
    font-weight: 300;
    color: #000;
    background-color: #eee;
}

a {
    color: #000;
}

    a img {
        border: none;
    }

h1, h2, h3 {
    font-weight: normal;
}

.hide {
    display: none;
}

.off {
    position: absolute;
    top: 0 !important;
    left: -9999em !important;
}

.disabled {
    opacity: .5;
}

.submit {
    text-align: center;
}

input, input.form-control, button.btn.dropdown-toggle {
    border: 2px solid #d4d4d4;
    height: 42px;
    border-radius: 4px;
    box-shadow: none;
    margin-bottom: 10px;
    text-align: left;
}

input:hover, input.form-control:hover,
input:active, input.form-control:active,
input:focus, input.form-control:focus {
    border-color: #746093;
    box-shadow: none;
}

#footerInner:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.addButton, .addExtraButton {
    width: 34px;
    height: 32px;
    padding: 0;
    text-align: center;
    line-height: 32px;
    text-decoration: none;
    font-size: 14px;
    font-size: 1.4em;
    font-weight: bold;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    outline: 0;
}

@font-face {
    font-family: 'Aleo-Regular';
    src: url('../../../fonts/Aleo-Regular.eot');
    src: url('../../../fonts/Aleo-Regular.eot?#iefix') format('embedded-opentype'),url('../../../fonts/Aleo-Regular.woff') format('woff'),url('../../../fonts/Aleo-Regular.ttf') format('truetype'),url('../../../fonts/Aleo-Regular.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@media screen and (max-width:640px) {
    .linkArchitectureLinks a.toggler {
        color: #ce0b10;
    }
}

#header, #searchForm {
    /*background-color: #563D7C;
    border-bottom-color: #563D7C;*/
}


#headerInner {
    margin: 0 auto;
    overflow: hidden;
    width: 940px;
}

@media screen and (max-width:960px) {
    #headerInner {
        width: 620px;
    }
}

@media screen and (max-width:640px) {
    #headerInner {
        width: 300px;
    }
}

#logo {
    float: left;
    padding: 8px 0;
}

    #logo img {
        vertical-align: middle;
    }

#content {
    padding-bottom: 10px;
}


#footer {
    padding-top: 55px;
    background-color: #f8f8f8;
    padding-bottom: 55px;
}

#footerInner {
    margin: 0 auto;
    width: 940px;
}

@media screen and (max-width:960px) {
    #footerInner {
        width: 600px;
    }
}

@media screen and (max-width:640px) {
    #footerInner {
        width: 300px;
    }
}

#footer .panel {
    width: 135px;
    padding: 0 10px;
    float: left;
}

@media screen and (max-width:960px) {
    #footer .panel {
        margin-bottom: 10px;
        width: 100px;
    }
}

#footer .panel ul {
    list-style: none;
}

    #footer .panel ul li {
        font-size: 1.2em;
    }

        #footer .panel ul li a {
            text-decoration: none;
        }

            #footer .panel ul li a:hover {
                text-decoration: underline;
            }

        #footer .panel ul li.social_sprite-icon:hover {
            cursor: pointer;
        }

#footer .socialPanel ul {
    overflow: hidden;
}

    #footer .socialPanel ul li {
        float: left;
        margin: 2px;
    }

#footer .sitesContainer {
    position: relative;
}

    #footer .sitesContainer .sites {
        position: absolute;
        bottom: 35px;
        left: 0;
        background-color: #fff;
        width: 140px;
        border: solid 1px #b6b6b6;
        border-radius: 4px;
        border-bottom: 0;
        box-shadow: rgba(0,0,0,.2) 0 2px 3px 0;
        z-index: 999;
    }

    #footer .sitesContainer .activator {
        background: url("//dy3erx8o0a6nh.cloudfront.net/images/serp/arrow_up.png") no-repeat right top;
        padding-right: 15px;
        display: inline-block;
    }

    #footer .sitesContainer .active {
        background-image: url("//dy3erx8o0a6nh.cloudfront.net/images/serp/arrow_down.png");
    }

    #footer .sitesContainer .sites ul li {
        font-size: 1em;
    }

        #footer .sitesContainer .sites ul li a {
            display: block;
            padding: 6px 0 8px 15px;
            border-bottom: 1px solid #b6b6b6;
            text-decoration: none;
        }

            #footer .sitesContainer .sites ul li a img {
                position: relative;
                left: -5px;
                top: 3px;
            }

body.showModal {
    overflow: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #e3e3e3;
    opacity: .5;
}

.dialog {
    position: absolute;
}

    .dialog .wrapper {
        background: #fff;
        position: relative;
    }

        .dialog .wrapper .close {
            position: absolute;
            right: 10px;
            top: 10px;
        }

#cookieWarning {
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
}

#cookieWarningInner {
    width: 940px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

    #cookieWarningInner .message {
        width: 940px;
    }

@media screen and (max-width:960px) {
    #cookieWarningInner {
        width: 620px;
    }

        #cookieWarningInner .message {
            width: 620px;
        }
}

@media screen and (max-width:640px) {
    #cookieWarningInner {
        width: 300px;
    }

        #cookieWarningInner .message {
            width: 280px;
        }
}

#cookieWarning .message {
    float: left;
}

#cookieWarning p {
    color: #fff;
    font-size: 11px;
}

    #cookieWarning p a {
        color: #fff;
    }

#cookieWarning .hideButton {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    background-image: url("//dy3erx8o0a6nh.cloudfront.net/images/icon-close-banner.png");
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center center;
}

    #cookieWarning .hideButton:hover, #cookieWarning .hideButton:active, #cookieWarning .hideButton:focus {
        background-color: #666;
    }

.social_sprite-icon {
    background-image: url("//d30v2pzvrfyzpo.cloudfront.net/images/social.png");
    background-repeat: no-repeat;
    display: block;
    float: left;
    margin-right: 2px;
}

.social_sprite-icon-blog {
    width: 24px;
    height: 24px;
    background-position: -5px -5px;
}

.social_sprite-icon-facebook {
    width: 24px;
    height: 24px;
    background-position: -39px -5px;
}

.social_sprite-icon-googleplus {
    width: 24px;
    height: 24px;
    background-position: -5px -39px;
}

.social_sprite-icon-twitter {
    width: 24px;
    height: 24px;
    background-position: -39px -39px;
}

.countries_sprite {
    background-image: url("//d30v2pzvrfyzpo.cloudfront.net/images/countries.png");
    background-repeat: no-repeat;
    display: block;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.countries_sprite-ar {
    width: 19px;
    height: 16px;
    background-position: -1px -1px;
}

.countries_sprite-be {
    width: 19px;
    height: 16px;
    background-position: -22px -1px;
}

.countries_sprite-br {
    width: 19px;
    height: 16px;
    background-position: -43px -1px;
}

.countries_sprite-ca {
    width: 19px;
    height: 16px;
    background-position: -1px -19px;
}

.countries_sprite-ch {
    width: 19px;
    height: 16px;
    background-position: -22px -19px;
}

.countries_sprite-dk {
    width: 19px;
    height: 16px;
    background-position: -43px -19px;
}

.countries_sprite-es {
    width: 19px;
    height: 16px;
    background-position: -1px -37px;
}

.countries_sprite-fr {
    width: 19px;
    height: 16px;
    background-position: -22px -37px;
}

.countries_sprite-ie {
    width: 19px;
    height: 16px;
    background-position: -43px -37px;
}

.countries_sprite-in {
    width: 19px;
    height: 16px;
    background-position: -1px -55px;
}

.countries_sprite-it {
    width: 19px;
    height: 16px;
    background-position: -22px -55px;
}

.countries_sprite-nl {
    width: 19px;
    height: 16px;
    background-position: -43px -55px;
}

.countries_sprite-no {
    width: 19px;
    height: 16px;
    background-position: -64px -1px;
}

.countries_sprite-uk {
    width: 19px;
    height: 16px;
    background-position: -64px -19px;
}

#searchResults .openRestaurants, #searchResults .closedRestaurants, #menu, .restaurantOverview, .restaurantMap, .restaurantReviews, .restaurantDescription, .restaurantOpeningHours, .restaurantDeliveryAreas, .basketOrderDetails, .restaurantNote, #popularResults .linkArchitectureLinks, #takeawayAreas, .openRestaurants, .closedRestaurants, #noSearchResults, #login, #recaptcha, #register, #delivery, #collection, .orderConfirmation .materialCard, .orderConfirmation .helpContent, .orderConfirmation .pricePromiseDetails, .orderConfirmation .downloadApps, #confirmOrderDetails {
    display: block;
    margin: 0 10px 20px;
    background-color: #fff;
    box-shadow: 0 1px 0 #c9c9c9;
    border-radius: 3px;
}

@media screen and (max-width:640px) {
    #searchResults .openRestaurants, #searchResults .closedRestaurants, #menu, .restaurantOverview, .restaurantMap, .restaurantReviews, .restaurantDescription, .restaurantOpeningHours, .restaurantDeliveryAreas, .basketOrderDetails, .restaurantNote, #takeawayAreas, .openRestaurants, .closedRestaurants, #noSearchResults, #login, #recaptcha, #register, #delivery, #collection, .orderConfirmation .materialCard, .orderConfirmation .helpContent, .orderConfirmation .pricePromiseDetails, .orderConfirmation .downloadApps, #confirmOrderDetails {
        margin-bottom: 10px;
    }
}

#basket .basketTotal {
    border-bottom: 1px solid #dfdfdf;
}

#menu .category, #basket .basketSubTotal, #mobileFixedBasket {
    border-top: 1px solid #dfdfdf;
}

#menu #cat0.category {
    border-top: none;
}

#breadcrumb {
    background-color: #fff;
    margin: 0 0 20px 0;
    padding: 0;
    width: auto;
}

    #breadcrumb p {
        margin-left: auto;
        margin-right: auto;
        width: 940px;
        padding: 8px;
    }

@media screen and (max-width:960px) {
    #breadcrumb p {
        width: 620px;
    }
}

@media screen and (max-width:640px) {
    #breadcrumb p {
        width: 300px;
    }
}

#content #helpContent {
    margin: 20px auto;
}

#helpContent {
    width: 940px;
    padding: 10px;
}

    #helpContent .commonFAQs, #helpContent .faqLink {
        display: block;
        margin-bottom: 20px;
    }

    #helpContent #tableOfContents, #helpContent .back {
        margin: 0 0 20px;
        padding: 0;
    }

    #helpContent h2 {
        font-family: 'Aleo-Regular';
        font-size: 2.4em;
        margin-bottom: 20px;
        font-weight: normal;
    }

    #helpContent p {
        font-size: 1.4em;
        margin-bottom: 10px;
    }

    #helpContent .commonFAQs ul {
        margin: 0;
        padding: 0;
    }

    #helpContent .commonFAQs li {
        position: relative;
        display: inline-block;
        margin: 10px 10px 10px 0;
        width: 296px;
        padding: 0;
        border: 1px solid #ccc;
        box-shadow: 1px 1px 1px #e5e5e5;
        list-style: none;
        white-space: normal;
    }

    #helpContent .commonFAQs ul li a {
        display: block;
        overflow: hidden;
        font-weight: normal;
        text-align: left;
    }

    #helpContent #tableOfContents a img {
        vertical-align: middle;
        float: right;
        padding-left: 10px;
    }

    #helpContent hr {
        border: none;
        padding-bottom: 25px;
        background: url("//d30v2pzvrfyzpo.cloudfront.net/images/backgrounds/menu-restinfo-shadow.png") no-repeat;
        background-size: 100% 19px;
    }

    #helpContent .faqLink, #helpContent .startChatLink, #helpContent .commonFAQs .back {
        width: 260px;
    }

@media screen and (max-width:960px) {
    #helpContent {
        width: 620px;
    }
}

@media screen and (max-width:640px) {
    #helpContent {
        width: 300px;
    }

        #helpContent #tableOfContents li {
            display: block;
            margin: 10px 0;
            width: auto;
        }

        #helpContent #tableOfContents a img {
            width: 28px;
            height: auto;
            float: left;
            padding: 0 10px 0 0;
        }
}

.dialog #helpContent #tableOfContents, .dialog #helpContent #commonFAQ1.display, .dialog #helpContent #commonFAQ2.display, .dialog #helpContent #commonFAQ3.display, .dialog #helpContent #commonFAQ4.display, .dialog #helpContent #commonFAQ5.display, .dialog #helpContent #commonFAQ6.display {
    display: block;
    height: auto;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 1.5s;
}

    .dialog #helpContent #tableOfContents.hide, .dialog #helpContent #commonFAQ1, .dialog #helpContent #commonFAQ2, .dialog #helpContent #commonFAQ3, .dialog #helpContent #commonFAQ4, .dialog #helpContent #commonFAQ5, .dialog #helpContent #commonFAQ6 {
        display: none;
        height: 0;
        opacity: 0;
        transition-property: opacity;
        transition-duration: .5s;
    }

.reviewForm, .orderSummary {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    padding: 20px;
}

.orderSummaryHeader {
    overflow: hidden;
    border-bottom: 3px solid #ccc;
    padding-bottom: 10px;
}

    .orderSummaryHeader h2 {
        float: left;
        font-size: 1.8em;
    }

    .orderSummaryHeader p {
        float: right;
        font-size: 1.4em;
    }

.orderSummary table {
    width: 260px;
    table-layout: fixed;
    border-collapse: collapse;
}

    .orderSummary table th:last-child, .orderSummary table td:last-child {
        width: 72px;
        text-align: right;
    }

    .orderSummary table th.title, .orderSummary table td.title, .orderSummary table th:first-child, .orderSummary table td:first-child {
        width: 174px;
        padding-right: 14px;
        text-align: left;
    }

    .orderSummary table tbody, .orderSummary table tfoot {
        font-size: 1.4em;
        vertical-align: top;
    }

    .orderSummary table tr.total td, .orderSummary table tr.total th {
        font-size: 1.3em;
    }

    .orderSummary table tbody tr:last-child, .orderSummary table tr.total {
        border-bottom: 1px solid #ccc;
    }

    .orderSummary table tfoot {
        line-height: 1.5;
    }

    .orderSummary table td.parentProduct, .orderSummary table tr.multiBuyDiscount td, .orderSummary table tr:first-child th, .orderSummary table tr:first-child td, .orderSummary table tr.total td, .orderSummary table tr.total th {
        padding-top: 10px;
    }

    .orderSummary table tr:last-child th, .orderSummary table tr:last-child td, .orderSummary table tr.total td, .orderSummary table tr.total th {
        padding-bottom: 12px;
    }

.notes, .requestedDeliveryTime {
    margin-top: 10px;
}

    .notes h3, .requestedDeliveryTime h3 {
        font-size: 1.4em;
        font-weight: bold;
    }

    .notes p, .requestedDeliveryTime p {
        color: #999;
        font-size: 1.4em;
        padding-top: 5px;
    }

.smartBanner {
    width: 100%;
    height: 50px;
    background: #333;
}

.smartBannerInner {
    margin: 0 auto;
    overflow: hidden;
    width: 940px;
}

@media screen and (max-width:960px) {
    .smartBannerInner {
        width: 620px;
    }
}

@media screen and (max-width:640px) {
    .smartBannerInner {
        width: 300px;
    }
}

.smartBanner .smartBannerInner .close, .smartBanner .smartBannerInner .logo, .smartBanner .smartBannerInner .text {
    float: left;
}

.smartBanner .smartBannerInner .close {
    width: 22px;
    height: 50px;
}

    .smartBanner .smartBannerInner .close a {
        text-decoration: none;
        display: block;
        padding: 19px 10px 18px 0;
    }

        .smartBanner .smartBannerInner .close a img {
            max-height: 12px;
        }

        .smartBanner .smartBannerInner .close a:active, .smartBanner .smartBannerInner .close a:focus, .smartBanner .smartBannerInner .close a:hover {
            color: #eee;
        }

.smartBanner .smartBannerInner .logo {
    margin: 7px 10px 7px 5px;
}

    .smartBanner .smartBannerInner .logo img {
        max-height: 36px;
    }

.smartBanner .smartBannerInner .text h2 {
    font-size: 12px;
    color: #fff;
    font-weight: 500;
    margin-top: 11px;
    margin-bottom: 4px;
}

.smartBanner .smartBannerInner .text p {
    font-size: 11px;
    color: #fff;
}

.smartBanner .smartBannerInner .getAppButton a {
    display: block;
    float: right;
    padding: 5px 10px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 4px;
    margin-top: 11px;
}

    .smartBanner .smartBannerInner .getAppButton a:hover, .smartBanner .smartBannerInner .getAppButton a:active, .smartBanner .smartBannerInner .getAppButton a:focus {
        color: #333;
        background-color: #fff;
    }

.js #advisoryContainer, .advisoryDialog.hide, .js .advisoryDialog, .js #invalidPostcode, .js #validPostcode, .js #editExtrasDialog, .js #customisableProductDialog, .js #modalContainer, .js #customisableProductDialog, .js #nonJsOverlay {
    display: none;
}

    .js .advisoryDialog.hide.show, .js .advisoryDialog.show, .advisoryDialog.alwaysShow #invalidPostcode, .advisoryDialog.alwaysShow #validPostcode, .js #editExtrasDialog.show, .js #customisableProductDialog.show, .js #advisoryContainer.hide.show, .js #advisoryContainer.show, .js #modalContainer.show, .js #modalContainer.hide.show, #advisoryOverlay.nonJs, .advisoryDialog.nonJs, #invalidPostcode.nonJs, #validPostcode.nonJs, #editExtrasDialog.nonJs, #customisableProductDialog.nonJs {
        display: block;
    }

#advisoryOverlay, #nonJsOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #000;
    opacity: .65;
    filter: alpha(opacity=65);
    z-index: 3;
}

#advisoryContainer, #modalContainer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    z-index: 2;
}

#editExtrasDialog, #customisableProductDialog, .advisoryDialog, #modalContent {
    position: absolute;
    top: 0;
    z-index: 4;
    overflow: auto;
}

    .advisoryDialog.nonJs {
        right: 0;
    }

    #modalContent .closeDialogButton, #editExtrasDialog .closeDialogButton, #customisableProductDialog .closeDialogButton {
        float: right;
        margin: 10px;
        height: 15px;
        width: 15px;
        cursor: pointer;
    }

    #modalContent .closeDialogButton {
        position: absolute;
        right: 0;
        top: 0;
    }

        #modalContent .closeDialogButton img, #editExtrasDialog .closeDialogButton img, #customisableProductDialog .closeDialogButton img {
            height: 100%;
            width: 100%;
        }

.advisoryContent, #modalContent {
    width: 420px;
    padding: 20px;
    background-color: #fff;
    margin: 50px auto 0;
    border-radius: 3px;
}

    .advisoryContent h2 {
        text-align: center;
        font-size: 2.4em;
        margin-bottom: 20px;
    }

    .advisoryContent p {
        font-size: 1.8em;
        margin-bottom: 20px;
    }

    #modalContent h2 {
        text-align: center;
        font-size: 2em;
    }

    #modalContent p {
        font-size: 1.4em;
        margin-top: 20px;
    }

    #modalContent h2, #modalContent p, #allergyInfo .advisoryContent p {
        color: #333;
    }

@media screen and (max-width:500px) {
    #modalContent, .advisoryContent {
        width: auto;
        margin: 50px 10px 0;
    }

    #modalContent {
        min-width: 150px;
    }
}


body {
    color: #333;
    font-family: Roboto,'Helvetica Neue',sans-serif;
}

a {
    color: #666;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

    a.submit {
        color: #333;
    }

.standard-control {
    margin-bottom: 0;
    padding-top: 10px;
    width: 100%;
}

    .standard-control .indicator label {
        margin: 0 0 10px;
        line-heightform-control: 1;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 12px;
        font-size: 1.2em;
    }

    .standard-control .control input, .standard-control .control select, .standard-control .control textarea, .actions .submit {
        margin: 0 0 10px;
        box-sizing: border-box;
        width: 100%;
        padding: 0px 10px;
        color: #333;
    }

::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
    color: #999;
    font-size: 14px;
    font-size: 1.4em;
}

.standard-control .control textarea {
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    min-height: 6em;
    resize: none;
}

.standard-control .control.medium input, .standard-control .control.medium select {
    width: 210px;
}

.standard-control .control.small input, .standard-control .control.small select {
    width: 140px;
}

.standard-control .control input:focus, .standard-control .control input.input-validation-error:focus, .standard-control .control select:focus {
    border-color: #563D7C;
}

#content .errorSummary, #content .warningSummary {
    width: auto;
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.errorSummary p, .errorSummary ul li, .warningSummary p {
    color: #333;
    font-size: 12px;
    font-size: 1.2em;
    text-align: center;
}

.errorSummary p {
    display: none;
}

.errorSummary ul {
    margin-left: 0;
}

    .errorSummary ul li {
        list-style: none;
    }

        .warningSummary p:last-child, .errorSummary ul li:last-child {
            margin-bottom: 0;
        }

.errorSummary a, .warningSummary a {
    color: #ce0b10;
}

.standard-control .control select.input-validation-error {
    border-color: #fd6b66;
}

.standard-control .control input.input-validation-error, .standard-control .control input:focus.input-validation-error {
    border-color: #fd6b66;
    padding-right: 36px;
    background-image: url("//dy3erx8o0a6nh.cloudfront.net/images/input-error.18x15.png");
    background-repeat: no-repeat;
    background-size: 18px 15px;
    background-position: 96% center;
}

@media screen and (-webkit-min-device-pixel-ratio:2) {
    .standard-control .control input.input-validation-error {
        background-image: url("//dy3erx8o0a6nh.cloudfront.net/images/input-error.32x30.png");
        background-size: 18px 15px;
    }
}

.standard-control .control input.valid, .standard-control .control select.valid {
    padding-right: 36px;
    background-image: url("//dy3erx8o0a6nh.cloudfront.net/images/input-valid.18x14.png");
    background-repeat: no-repeat;
    background-size: 18px 14px;
    background-position: 96% center;
}

@media screen and (-webkit-min-device-pixel-ratio:2) {
    .standard-control .control input.input-validation-error, .standard-control .control select.input-validation-error {
        background-image: url("//dy3erx8o0a6nh.cloudfront.net/images/input-valid.32x28.png");
        background-size: 18px 14px;
    }
}

form .field-validation-error {
    display: block;
}

    form .field-validation-error span {
        display: block;
        margin-bottom: 10px;
        color: #999;
        font-size: 12px;
        font-size: 1.2em;
        text-align: center;
    }

.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

    .modal.fade .modal-dialog {
        -webkit-transform: translate3d(0,-25%,0);
        transform: translate3d(0,-25%,0);
        -webkit-transition: -webkit-transform .3s ease-out;
        -moz-transition: -moz-transform .3s ease-out;
        -o-transition: -o-transform .3s ease-out;
        transition: transform .3s ease-out;
    }

    .modal.in .modal-dialog {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.modal-content {
    width: 320px;
    margin: auto;
    border-radius: 2px;
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 4px;
    background-clip: padding-box;
    outline: 0;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}

    .modal-backdrop.fade {
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .modal-backdrop.in {
        opacity: .5;
        filter: alpha(opacity=50);
    }

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.42857143px;
}

    .modal-header .close {
        margin-top: -2px;
    }

.modal-title {
    margin: 0;
    line-height: 1.42857143;
    font-size: 14px;
    font-size: 1.4em;
    color: #d62725;
}

.modal-body {
    position: relative;
    padding: 15px;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

    .modal-footer .btn + .btn {
        margin-left: 5px;
        margin-bottom: 0;
    }

    .modal-footer .btn-group .btn + .btn {
        margin-left: -1px;
    }

    .modal-footer .btn-block + .btn-block {
        margin-left: 0;
    }

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

@media(min-width:600px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }

    .modal-sm {
        width: 300px;
    }
}

@media(min-width:768px) {
    .modal-lg {
        width: 900px;
    }
}

.modal p {
    color: #333;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: none;
    padding: 8px 12px;
    line-height: 1.42857143;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    font-size: 14px;
    font-size: 1.4em;
    font-weight: 600;
}


/* default button */

.btn-default {
    color: #fff;
    opacity: 0.8;
    background-color: #563D7C;
    border-color: #563D7C;
}

    .btn-default:hover,
    .btn-default:focus,
    .btn-default:active,
    .btn-default.active,
    .open .dropdown-toggle.btn-primary {
        color: #fff;
        opacity: 1;
        background-color: #563D7C;
        border-color: #563D7C;
    }



#allergyAdvisoryContent {
    width: 420px;
    padding: 20px;
    background-color: #fff;
    margin: 50px auto 0;
    border-radius: 3px;
}

    #allergyAdvisoryContent h2 {
        text-align: center;
        font-size: 2.4em;
        margin-bottom: 20px;
    }

    #allergyAdvisoryContent p {
        text-align: center;
        font-size: 1.8em;
        margin-bottom: 20px;
    }

@media screen and (max-width:500px) {
    #allergyAdvisoryContent {
        width: auto;
        margin: 50px 10px 0;
    }
}

#login, #register, #recaptcha, #delivery, #collection, #confirmOrderDetails, #opinionLabs {
        width: 460px;
        margin: 20px auto;
        box-shadow: none;
}

    #opinionLabs .pageFeedback {
        margin: 0;
        padding: 0;
    }

    #recaptcha .container, #login .container, #register .container, #delivery .container, #collection .container, #confirmOrderDetails .container {
        box-sizing: border-box;
        margin: 0 auto;
        width: 300px;
        padding: 30px 20px 10px;
    }

@media screen and (max-width:640px) {
    #recaptcha, #login, #register, #delivery, #collection, #opinionLabs, #confirmOrderDetails {
        box-sizing: border-box;
        min-width: 320px;
        width: auto;
        margin: 10px;
    }

        #recaptcha .container, #login .container, #register .container, #delivery .container, #collection .container, #confirmOrderDetails .container {
            width: 300px;
        }

        #recaptcha .standard-control .indicator, #login .standard-control .indicator, #register .standard-control .indicator, #delivery .standard-control .indicator, #collection .standard-control .indicator, #confirmOrderDetails .standard-control .indicator {
            display: none;
            width: 280px;
        }
}

#recaptcha h1, #login h1, #register h1, #delivery h1, #collection h1, #confirmOrderDetails h1 {
    margin-bottom: 14px;
    font-size: 2.4em;
    font-weight: 300;
    text-align: center;
    color: #333;
}

@media screen and (max-width:640px) {
    #recaptcha h1, #login h1, #register h1, #delivery h1, #collection h1, #confirmOrderDetails h1 {
        margin-bottom: 10px;
        font-size: 2em;
    }
}

#recaptcha h2, #login h2 {
    font-size: 1.8em;
    margin-right: 10px;
}

p {
    margin-bottom: 20px;
    color: #999;
    font-size: 12px;
    font-size: 1.2em;
    text-align: center;
}

#confirmOrderDetails .warning {
    padding: 1em;
}

#login .forgottenPasswordLink a {
    text-decoration: none;
    color: #666;
    font-weight: 300;
}

    #login .forgottenPasswordLink a:hover {
        text-decoration: underline;
    }

#register .termsAndConditionsText {
    color: #999;
    font-size: 12px;
    font-size: 1.2em;
    text-align: center;
}

.horizontalSplit {
    display: block;
    margin: 0 auto 20px 0;
}

#delivery .checkboxControl input, #collection .checkboxControl input, #login .checkboxControl input, #login .forgottenPasswordLink {
    margin: 2px 0;
}

#recaptcha .checkboxControl label, #delivery .checkboxControl label, #collection .checkboxControl label, #login .checkboxControl label, #register .checkboxControl label {
    color: #999;
}

#login .checkboxControl.rememberMe label {
    margin: 0;
    font-size: 12px;
    font-size: 1.2em;
}

input::-webkit-input-placeholder {
    color: #666;
}

input::-moz-placeholder {
    color: #666;
}

input:-ms-input-placeholder {
    color: #666;
}

input:-moz-placeholder {
    color: #666;
}

#recaptcha .checkboxControl, #login .checkboxControl, #login .forgottenPasswordLink {
    width: 48%;
    float: left;
}

#login .forgottenPasswordLink {
    float: right;
    text-align: right;
}

#login div.actions, #register div.actions {
    clear: both;
}

#login .row {
    overflow: hidden;
    margin-bottom: 0;
}

#recaptcha .actions .submit, #login .actions .submit, #register .actions .submit, #delivery .actions .submit, #collection .actions .submit, #confirmOrderDetails .actions .submit {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    font-size: 1.4em;
    font-weight: 600;
}

.socialLoginContainer {
    list-style: none;
}

    .socialLoginContainer a.facebook {
        display: block;
        margin: 20px 0;
        padding: 12px 45px 12px 45px;
        border: none;
        border-radius: 3px;
        box-shadow: 0 2px 0 #1f2d56;
        background: #3651a0 url('//dy3erx8o0a6nh.cloudfront.net/images/facebook.25x25px.png') no-repeat scroll 20px center;
        color: #fff;
        font-size: 14px;
        font-size: 1.4em;
        font-weight: 300;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
    }

@media screen and (max-width:640px) {
    .socialLoginContainer a.facebook {
        background-position: 10px center;
    }
}

.horizontalSplit {
    display: block;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    font-size: 1.2em;
    font-weight: 300;
    overflow: hidden;
    white-space: nowrap;
}

    .horizontalSplit > span {
        position: relative;
        display: inline-block;
    }

        .horizontalSplit > span:before, .horizontalSplit > span:after {
            content: "";
            position: absolute;
            top: 50%;
            width: 9999px;
            height: 1px;
            background: #dfdfdf;
        }

        .horizontalSplit > span:before {
            right: 100%;
            margin-right: 60px;
        }

        .horizontalSplit > span:after {
            left: 100%;
            margin-left: 60px;
        }

#confirmOrderDetails #alergyLinkContainer {
    margin-top: 10px;
}

    #confirmOrderDetails #alergyLinkContainer p {
        font-size: 14px;
        font-size: 1.4em;
    }

#delivery .container p, #collection .container p {
    font-size: 14px;
    font-size: 1.4em;
}

.signup a, .signin a, .accountSwitch {
    color: #ce0b10;
    text-decoration: none;
}

    .signup a:hover, .signup a:active, .signin a:hover, .signin a:active, .accountSwitch:hover, .accountSwitch:active {
        text-decoration: underline;
    }

#recaptchaContainer .g-recaptcha {
    clear: both;
    margin: 20px 0;
}

#recaptchaModalContainer .advisoryContent p {
    font-size: 18px;
}

@media screen and (max-width:640px) {
    #recaptchaContainer .g-recaptcha {
        margin: 10px 0;
    }
}
