<?xml version="1.0" encoding="utf-8"?>
<appSettings>

  <!-- SendGrid -->
  <add key ="MailAccount" value=""/>
  <add key ="MailPassword" value=""/>

  <!-- Twilio --> 
  <add key="TwilioSid" value="My Twilio SID." />
  <add key="TwilioToken" value="My Twilio Token." />
  <add key="TwilioFromPhone" value="+12065551234" />

  <!-- Google -->
  <add key="GoogleClientId" value="1064808363189-grpo7c0ijc1tb5q0kdtvv4si7euvsuh5.apps.googleusercontent.com"/>
  <add key="GoogleClientSecret" value="L8KeD46Vj9OGyh1g2UCaWnx3"/>

  <!-- Facebook -->
  <add key="FacebookClientId" value ="185506935123205"/>
  <add key ="FaceBookClientSecret" value="c0bd26b16934fa040942dc0483015117"/>

</appSettings>