<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>

  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-DataContext.mdf;Initial Catalog=aspnet-DataContext;Integrated Security=True" providerName="System.Data.SqlClient" />
  
</connectionStrings>