@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Page not found";
}

<div id="account">
    <div class="container">

        <h1>@ViewBag.Title</h1>
        <hr />
        <h3>The page you are looking for can't be found or may never have existed</h3>
    </div>
</div>
